@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f2f7f5;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    .carousel-caption {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .carousel-caption h3 {
        font-size: 3rem;
        font-weight: bold;
        background: blue;
        display: inline;
    }

    .carousel-caption p {
        background: blue;
        display: inline;
    }

}