@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --greenish: #00473e;
    --text: #475d5b;
    --card: #fffffe;
    --yellow: #faae2b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f2f7f5;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}


.nav-links ul {
    background: #f2f7f5;
    z-index: 2 !important;
}

.carousel-caption {
    z-index: 0 !important;
}

.carousel-control-next {
    z-index: 0 !important;
}

.carousel-caption h3 {
    font-size: 1.2rem;
    background: rgb(0, 0, 0, 0.9);
}

.carousel-caption p {
    font-size: 0.9rem;
    background: rgb(0, 0, 0, 0.9);
}

.carousel-caption a {
    background: #faae2c;
    color: #00473e;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

@media only screen and (min-width: 1200px) {
    .carousel-caption {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .carousel-caption a {
        padding: 15px 30px;
    }

    .carousel-caption h3 {
        font-size: 3rem;
        font-weight: bold;
        background: rgb(0, 0, 0, 0.9);
        display: inline;
    }

    .carousel-caption p {
        background: rgb(0, 0, 0, 0.9);
        display: inline;
    }
}